{% extends 'admin/admin.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
<div class="content m-5" style="background-color: white;">   
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row justify-content-center">
            <div class="col-md-6">
              
              <h3 class="heading mb-4">Xodimlarga xabar yuborish!</h3>

              <p><img src="{% static './undraw-contact.svg' %}" alt="Image" class="img-fluid p-5"></p>


            </div>
            <div class="col-md-6">
              
              <form class="m-5" method="post" id="contactForm" name="contactForm">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12 form-group p-0">
                    <input style="background-color: #F3F3F3;" type="text" class="form-control" name="name" id="name" placeholder="Ismingiz">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group p-0">
                    <input type="text" class="form-control" name="title" id="subject" placeholder="Mavzu">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group p-0">
                    <textarea class="form-control" name="body" id="message" cols="30" rows="7" placeholder="Xabaringizni yozing"></textarea>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-12 p-0">
                    <input type="submit" value="xabarni yuborish" class="btn w-100 btn-primary rounded">
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

{% endblock content %}